<footer>
    <img src="{{ asset('resources/images/poring-row.png') }}" class="about-image" />
    <!--<p>All trademarks are properties of their respective owners.<br>
    © Copyright 2024, MuhCalc. All rights reserved.</p> -->
</footer>