<header>
    <nav>
        <a href="/lvl1">LV1</a>
        <a href="/lvl2">LV2</a>
        <a href="/shadow-gear">Shadow Gear</a>
        <a href="/enchant-upgrade">Enchant Upgrade</a>
        <a href="/tutorial"><button>Tutorial</button></a>
    </nav>
</header>