@layout.app({ title: "Tutorial" })
  @slot('meta')
    <meta name="description" content="Tutorial page">
  @endslot

  <section class="about">
      <h1>Tutorial</h1>
      <br>
      <p> instructions
      </p>
  </section>
@end
